:root {
  --red: rgb(209, 9, 9);
  --blue: blue;
  --large: 52px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#heading2 {
  color: var(--red);
  font-size: var(--large);
}

.box {
  width: 200px;
  height: 100px;
  background-color: var(--red);
  border: 5px solid var(--blue);
  padding: 5px 10px 15px 20px;
  margin: 5px;
  /* transition: width 2s ease-in-out; */
  /* border-radius: 15px; */
  /* background images */
  border-radius: 10px 0 0 15px;
  /* background-image: url("/assets/how_web_works_mini.jpg");
  background-repeat: no-repeat;
  background-position: 12px 24px;
  background-size: cover; */
}
.big {
  height: 500px;
  width: 200px;
}
#box4 {
  transition: width 2s ease-in-out;
}
/* #box2 {
  position: relative;
  top: 20px;
  left: 30px;
  z-index: -1;
} */
/* #box2,
#box3 {
  float: right;
} */
/* alignment */
/* old days - float */

.container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  background-color: yellow;
  justify-content: space-evenly;
  /* align-items: flex-end; */
  /* display: flex;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end; */
}

#box2 {
  order: 3;
}
#box3 {
  order: 2;
}
